body {
  margin-top: 50vh;
  background-color: $mainColor;
  background-image: linear-gradient(to right, $mainColor, $secondaryColor);
}

.circle {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  z-index: 10;
  background-color: $grey;
  background: radial-gradient(circle at 100%, $darkBlue, $darkBlue 50%, $grey 75%, $grey 75%);
}

.infos-block {
    text-align: center;
    vertical-align: middle;

}
.infos-block  > h1 {
    font-family: $titleFont;
    font-size: 10em;
    font-weight: bolder;
    text-shadow:
   14px 14px 0 $grey,
    14px 14px 0 $grey,
    14px 14px 0 $grey,
     14px 14px 0 $grey;
    color: $white;
}
.infos-block  > p {
    font-family: $bodyFont;
    font-size: 2em;
    font-weight: bold;
}
